<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>www.sbi.co.in</display-name>
  <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
	</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
   <filter>
        <filter-name>log4jServletFilter</filter-name>
        <filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
    </filter>
   <filter>
    <filter-name>xssFilter</filter-name>
	<filter-class>
			com.mintstreet.common.security.XSSFilter</filter-class>
  </filter>
  <filter>
    <filter-name>cacheControlFilter</filter-name>
	<filter-class>
			com.mintstreet.common.security.CacheControlFilter</filter-class>
  </filter>
   <filter-mapping>
        <filter-name>log4jServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
        <!-- <dispatcher>ASYNC</dispatcher> --><!-- Servlet 3.0 w/ disabled auto-initialization only; not supported in 2.5 -->
    </filter-mapping>
  <filter-mapping>
    <filter-name>xssFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>cacheControlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>jpaFilter</filter-name>
    <filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>jpaFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
			org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/</url-pattern>
	<url-pattern>/changelanguage</url-pattern>
	<url-pattern>/home-faq</url-pattern>
	<url-pattern>/contact-us</url-pattern>
	<url-pattern>/privacy-statement</url-pattern>
	<url-pattern>/disclosure-statement</url-pattern>
	<url-pattern>/term-condition</url-pattern>
	<url-pattern>/under-maintainance</url-pattern>
	<url-pattern>/home</url-pattern>
	<url-pattern>/residancetypeonchange</url-pattern>
	<url-pattern>/citybystateid</url-pattern>
	<url-pattern>/getCitiesForHomeLoan</url-pattern>
	<url-pattern>/getDistrictByStateId</url-pattern>
	<url-pattern>/pinCodeByCityId</url-pattern>
	<url-pattern>/pinCodeByDistrictId</url-pattern>
	<url-pattern>/disticByStateid</url-pattern>
	<url-pattern>/branchByStateId</url-pattern>
	<url-pattern>/branchByDistrictId</url-pattern>
	<url-pattern>/branchByCityId</url-pattern>
	<url-pattern>/localityordistrictbystateandcityid</url-pattern>
	<url-pattern>/getallbank</url-pattern>
	<url-pattern>/loanPurposeByParentId</url-pattern>
	<url-pattern>/getAllEmployer</url-pattern>
	<url-pattern>/getAllBranchName</url-pattern>
	<url-pattern>/getAllEmployerForPL</url-pattern>
	<url-pattern>/getAllEmployerForXpressCreditIT</url-pattern>
	<url-pattern>/getAllBuilder</url-pattern>
	<url-pattern>/getPreownedCarDealer</url-pattern>
	<url-pattern>/getRequestConfigByLoanType</url-pattern>
	<url-pattern>/getTypeOfSalaryPackage</url-pattern>
	<url-pattern>/getTypeOfSalaryPackageRank</url-pattern>
	<url-pattern>/flexi-pay-emis</url-pattern>
	<url-pattern>/campaign-lead</url-pattern>
	<url-pattern>/privacy-notice</url-pattern>
	<url-pattern>/sms-consent</url-pattern>
	<url-pattern>/infronics-Lead</url-pattern>
	<url-pattern>/ivrs-otp</url-pattern>
	<url-pattern>/mingle-lead</url-pattern>
	<url-pattern>/ios-url</url-pattern>
	<url-pattern>/home-about-us</url-pattern>
	<url-pattern>/agri-loan-actions</url-pattern>
	<!-- <url-pattern>/agri-loan</url-pattern> -->
	<url-pattern>/agri-loan-dsr</url-pattern>
	<url-pattern>/agriMake</url-pattern>
	<url-pattern>/agriModel</url-pattern>
	<url-pattern>/application-status</url-pattern>
	<url-pattern>/getapplicationtrack</url-pattern>
	<url-pattern>/auto-loan</url-pattern>
	<url-pattern>/auto-loan-dsr</url-pattern>
	<url-pattern>/bikeCompanyByBikeTypeId</url-pattern>
	<url-pattern>/bikeModelByCompanyId</url-pattern>
	<url-pattern>/bikeVariantByBikeModuleId</url-pattern>
	<url-pattern>/carVariantByCarModuleId</url-pattern>
	<url-pattern>/carModelByCompanyId</url-pattern>
	<url-pattern>/occupationByEmployementTypeID</url-pattern>
	<url-pattern>/exshowRoomPriceByCarVariantId</url-pattern>
	<url-pattern>/getDealerByCompanyId</url-pattern>
	<url-pattern>/initiateProcess</url-pattern>
	<url-pattern>/sendOTP</url-pattern>
	<url-pattern>/reSendOTP</url-pattern>
	<url-pattern>/verifyOTP</url-pattern>
	<url-pattern>/getLoanQuote</url-pattern>
	<url-pattern>/getSliderQuote</url-pattern>
	<url-pattern>/applyApplication</url-pattern>
	<url-pattern>/finalFormSubmit</url-pattern>
	<url-pattern>/downloadPdf</url-pattern>
	<url-pattern>/submitAppTrack</url-pattern>
	<url-pattern>/call-rule-engine</url-pattern>
	<url-pattern>/call-pdf-engine</url-pattern>
	<url-pattern>/call-nsdl-engine</url-pattern>
	<url-pattern>/getCallbackMasters</url-pattern>
	<url-pattern>/call-intial-token</url-pattern>
	<url-pattern>/getMasters</url-pattern>
	<url-pattern>/getModel</url-pattern>
	<url-pattern>/getVariant</url-pattern>
	<url-pattern>/getCity</url-pattern>
	<url-pattern>/getDistrict</url-pattern>
	<url-pattern>/getBranches</url-pattern>
	<url-pattern>/getAllStates</url-pattern>
	<url-pattern>/getEmployerList</url-pattern>
	<url-pattern>/finalAppointment</url-pattern>
	<url-pattern>/getCallBack</url-pattern>
	<url-pattern>/reSendOTPCallBack</url-pattern>
	<url-pattern>/callBackVerifyOTP</url-pattern>
	<url-pattern>/getAppRefStatus</url-pattern>
	<url-pattern>/getDocuments</url-pattern>
	<url-pattern>/getCBSCall</url-pattern>
	<url-pattern>/resendOTPCBS</url-pattern>
	<url-pattern>/verifyOTPCBS</url-pattern>
	<url-pattern>/setDeviceInfo</url-pattern>
	<url-pattern>/encrypt</url-pattern>
	<url-pattern>/credit-card</url-pattern>
	<url-pattern>/credit-card-dsr</url-pattern>
	<url-pattern>/generate-missing-pdf</url-pattern>
	<url-pattern>/edvantage-loan</url-pattern>
	<url-pattern>/scholar-loan</url-pattern>
	<url-pattern>/education-loan-dsr</url-pattern>
	<url-pattern>/instituteByCourseType</url-pattern>
	<url-pattern>/instituteCategoryType</url-pattern>
	<url-pattern>/getAllCourseName</url-pattern>
	<url-pattern>/getAllInstituteName</url-pattern>
	<url-pattern>/getAllUniversity</url-pattern>
	<url-pattern>/initeducationloan</url-pattern>
	<url-pattern>/education-takeover-loan</url-pattern>
	<url-pattern>/instituteByCourseType</url-pattern>
	<url-pattern>/instituteCategoryType</url-pattern>
	<url-pattern>/getAllCourseName</url-pattern>
	<url-pattern>/getAllInstituteName</url-pattern>
	<url-pattern>/getAllUniversity</url-pattern>
	<url-pattern>/sbi-flipkart</url-pattern>
	<url-pattern>/check-eligibility</url-pattern>
	<url-pattern>/verify-Otp</url-pattern>
	<url-pattern>/resend-Otp</url-pattern>
	<url-pattern>/inithomeloan</url-pattern>
	<url-pattern>/home-loan</url-pattern>
	<url-pattern>/home-loan-dsr</url-pattern>
	<url-pattern>/getAllProject</url-pattern>
	<url-pattern>/inithomeloan</url-pattern>
	<url-pattern>/home-top-up-loan</url-pattern>
	<url-pattern>/getAllProject</url-pattern>
	<url-pattern>/initpensionloan</url-pattern>
	<url-pattern>/pension-loan</url-pattern>
	<url-pattern>/getInstituteCategoryByName</url-pattern>
	<url-pattern>/getEmployerByName</url-pattern>
	<url-pattern>/personal-loan-actions</url-pattern>
	<url-pattern>/personal-loan</url-pattern>
	<url-pattern>/personal-loan-dsr</url-pattern>
	<url-pattern>/pension-loan</url-pattern>
	<url-pattern>/getInstituteCategoryByName</url-pattern>
	<url-pattern>/getInstituteCategoryByName</url-pattern>
	<url-pattern>/getEmployerByName</url-pattern>
	<url-pattern>/campaign-home</url-pattern>
	<url-pattern>/sbi-tata</url-pattern>
	<url-pattern>/confirm-Otp</url-pattern>
	<url-pattern>/resend-Otp</url-pattern>
	<url-pattern>/downloadSbiTataPdf</url-pattern>
	<url-pattern>/upload-vidya-lakshmi-loan</url-pattern>
	<url-pattern>/download-vidya-lakshmi-loan</url-pattern>
	<!-- <url-pattern>/vlp-file-list</url-pattern>
	<url-pattern>/vlp-get-file</url-pattern>
	<url-pattern>/vlp-status-report</url-pattern>
	<url-pattern>/vlp-status-upload</url-pattern>
	<url-pattern>/vlp-process-file</url-pattern> -->
	<url-pattern>/subDistrictByDistrictId</url-pattern>
	<url-pattern>/villageBysubdistrictId</url-pattern>
	<url-pattern>/uploadimage.action</url-pattern>
	<url-pattern>/Captcha/*</url-pattern>
	<url-pattern>/Captcha.jpg</url-pattern>
	<url-pattern>/SBI_LOS/rest</url-pattern>
	<url-pattern>/encrypt</url-pattern>
	<url-pattern>/decrypt</url-pattern>
	<url-pattern>/docUpload</url-pattern>
	<url-pattern>/getInstituteList</url-pattern>
	<url-pattern>/getAllProjects</url-pattern>
	<url-pattern>/quoteEmailData</url-pattern>
	<url-pattern>/getAgriState</url-pattern>
	<url-pattern>/getAgriDistrict</url-pattern>
	<url-pattern>/customer-feedback</url-pattern>
	<url-pattern>/customer-feedback-page</url-pattern>
	<url-pattern>/resend-Otp</url-pattern>
	<url-pattern>/customer-feedback-submit</url-pattern>
	<url-pattern>/getCardEmployerName</url-pattern>
	<url-pattern>/getAgriCityList</url-pattern>
	<url-pattern>/bulkUpload</url-pattern>
	<!-- url mappings for instant loans start -->
	<url-pattern>/pushNotifications</url-pattern>
	<url-pattern>/sendEmailAlerts</url-pattern>
	<url-pattern>/readIdspmCsv</url-pattern>
	<url-pattern>/readIdspmCsvOnDate</url-pattern>
	<url-pattern>/sendSmsAlerts</url-pattern>
	<url-pattern>/downloadIDSPMDump</url-pattern>
	<url-pattern>/sendEmailISDPMDump</url-pattern>
	
	<url-pattern>/callCreditVidyaService</url-pattern>
	<url-pattern>/callCreditVidyaBREService</url-pattern>
	
	<url-pattern>/getKeyAndServiceId</url-pattern>
	<url-pattern>/validateUserINB</url-pattern>
	<url-pattern>/validateUserATM</url-pattern>
	<url-pattern>/createLoanAccountInCBS</url-pattern>
	
	<url-pattern>/unsubscribeForNotifications</url-pattern>
	<url-pattern>/update-constants</url-pattern>
    <!-- url mappings for instant loans end -->
	<!-- Work for Campaign Loan start -->
	<url-pattern>/home-loan-callback</url-pattern>
	<url-pattern>/car-loan-callback</url-pattern>
	<url-pattern>/global-ed-callback</url-pattern>
	<url-pattern>/agri-loan-callback</url-pattern>
	<!-- Work for Campaign Loan end -->
	<url-pattern>/bidyalakhmi-loan</url-pattern>
	<url-pattern>/logout</url-pattern>
	<url-pattern>/get-feedback-url</url-pattern>
	<url-pattern>/getString</url-pattern>
	<url-pattern>/call-click2call-service</url-pattern>
	<url-pattern>/gold-loan</url-pattern>
	<url-pattern>/sendSmsAlertsByPk</url-pattern>
	<url-pattern>/quick-lead</url-pattern>
	<url-pattern>/cve</url-pattern>
	<url-pattern>/cve-loan-actions</url-pattern>
	<url-pattern>/getPrivacyNoticeByLocale</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
			org.apache.catalina.filters.SetCharacterEncodingFilter
	</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
	<init-param>
		<param-name>ignore</param-name>
		<param-value>false</param-value>
	</init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <listener>
    <listener-class>
			com.mintstreet.common.session.SessionSendMailListener
	</listener-class>
  </listener>
  <servlet>
    <servlet-name>Captcha</servlet-name>
    <servlet-class>com.mintstreet.common.util.ImageCaptcha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Captcha</servlet-name>
    <url-pattern>/Captcha.jpg</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/app/common/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/app/common/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/app/common/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/app/common/error404.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
</web-app>
